/* ------------------- Reset Styles ------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: #ffffff;
  font-family: "Inter", sans-serif; /* Google font */
}

/* ------------------- Typography ------------------- */
h1,
h2,
p,
strong {
  color: #030616;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

li,
p {
  font-size: 1rem;
  font-weight: 400;
}

/* ------------------- Layout ------------------- */
header {
  padding: 4.5rem 1.5rem;
}

.faq-header {
  text-align: center;
}

main {
  padding: 4.5rem 1.5rem;
  background-color: #f8fafc;
}

.faq-container {
  width: 40rem;
  margin: 0 auto;
}

/* ------------------- Lists ------------------- */
li {
  
  line-height: 2rem;
  letter-spacing: -0.16px;
}

ul,
ol {
  margin: 1.5rem;

}

/* ------------------- Links ------------------- */
a {
  text-decoration: none;
  color: #4e80ee;
}

/* ------------------- Divider ------------------- */
.divider {
  width: 671px;
  border: 1px solid #d2d5da;
  height: 0px;
  margin: 2.5rem 0;
}

/* ------------------- Mobile Styles -------------------
   Applied when screen width is 640px or smaller
-------------------------------------------------------- */
@media (max-width: 480px) {
  body {
    width: 412px;
  }
  header {
    padding: 4.5rem 0;
  }

  .faq-header {
    padding: 0 1.5rem;
  }

  main {
    padding: 4.5rem 0.75rem;
  }

  .faq-container {
    padding: 0 1.5rem;
    width: 100%;
  }

  /* Make divider full width on mobile */
  .divider {
    width: 100%;
  }
}

@media (max-width: 768px) {
}
